{% load static %}

 <!-- ================================
    Start Footer
    ================================= -->
<footer>
  <div class="footerCol">
    <div class="container">
      <ul class="socialCol">
        <li><a href="javascript:void(0)"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/kophi_antwi/"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://twitter.com/ContiWalker"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/daniel-ntiamoah-b92662242/"><img src="{% static 'images/linkedin.svg' %}" alt=""></a></li>
      </ul>
      <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="#" target="_blank">Daniel Ntiamoah Design</a></p>
      </div>
    </div>
  </div>
</footer>
    <!-- ================================
    End Footer
    ================================= -->